<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shark-A-Hack - Skills Matrix</title>
  <link rel="stylesheet" href="lib/jquery-ui.css">

  <!--bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- end bootstrap-->

  

  <!-- bring in the librarys -->
  <script src="lib/jquery-3.1.0.min.js"></script>
  <script src="lib/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
  <script src="landing.html" type="text/ng-template" id="landing.html"></script>

  <!-- UI sortable angular-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.14.3/sortable.min.js"></script>

  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>


  <script>
    // this will move
    $( function() {

      $("#sortable1").sortable({
        connectWith: ".connectedSortable",
      }).disableSelection();

      $("#sortable2").sortable({
        connectWith: ".connectedSortable",
        cancel: ".sourceSkill"
      }).disableSelection();

      $( "#sortable1 li, #sortable2 li" ).disableSelection();
    } );
</script>



<!-- set up angular -->
<script>
(function(){
  "use strict"

  // set up app
  angular.module('skillsMatrixApp',[
    'ngRoute'
  ]);

  // set the route
  angular.module('skillsMatrixApp').config(function($routeProvider){
    $routeProvider
    .otherwise({
      templateUrl: 'landing.html',
      controller: 'landingPageCtrl'
    })
  });

  // add the page controller
  angular.module('skillsMatrixApp').controller('landingPageCtrl',function($scope, $rootScope, $http){
    console.log($rootScope.dataLocker);

    $scope.showRankedKeywords = false;
    console.log($scope.jobUrl);

    $scope.APIUrl = "https://gateway-a.watsonplatform.net/calls/url/URLGetRankedKeywords?apikey=e1988a049c6961aca0a370068dcf5a0140521026&outputMode=json&url="


    $scope.getRankedKeywords = function(){
      console.log('getRankedKeywords function');

      $scope.showRankedKeywords = true;
      
      $scope.jobUrl = $scope.APIUrl.concat($scope.jobUrl);
      //console.log($scope.jobUrl);
      $http.get($scope.jobUrl).then(function(response) {
                $scope.rankedKeywords = response;
                console.log($scope.rankedKeywords);
                //$scope.newMessage = response.data.queries.request.totalResults;
                //$scope.messages.push($scope.newMessage);
      });
    };



  });
})();
</script>

<!-- init the data files-->
<script src="dataLocker/initJson.js"></script>
<script src="dataLocker/savedQuerysJson.js"></script>
<script src="dataLocker/masterSkillsJson.js"></script>

<!-- init custom.js -->
<script src="js/custom.js"></script>


</head>


<body ng-app="skillsMatrixApp">
  <div ng-view=""></div>

  <div ng-controller="landingPageCtrl">


    <form name="hackFrom">
      <div>
          <div>                
              <input type="text" name="name_from1" ng-model="jobUrl" placeholder="Your Job URL" required>
          </div>

          <div>       
              <button type="submit" ng-click="getRankedKeywords()">Get json!</button> 
          </div>
          
      </div> 
    </form>

    <div ng-show="showRankedKeywords">
      <div ng-repeat="keyword in rankedKeywords.data.keywords | limitTo:10">
        {{keyword.text}} : {{keyword.relevance}} 
      </div> 
    </div>  
  </div>

  <br>
  <br>
  <br>



  <ul id="sortable1" class="connectedSortable">
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
  </ul>

  <ul id="sortable2" class="connectedSortable">
    <li class="ui-state-highlight sourceSkill">Item 1</li>
    <li class="ui-state-highlight sourceSkill">Item 2</li>
    <li class="ui-state-highlight sourceSkill">Item 3</li>
    <li class="ui-state-highlight sourceSkill">Item 4</li>
    <li class="ui-state-highlight sourceSkill">Item 5</li>
  </ul>


</body>
</html>
