<h1>this is landing.html stuff</h1>
<!--pre>{{dataLocker | json}}</pre-->


<div ng-controller="landingPageCtrl">

  <div class="row">
    <form name="hackFrom">
      <div>
          <div>                
              <input type="text" name="name_from1" ng-model="jobUrl" placeholder="Your Job URL" required>
          </div>

          <div>       
              <button type="submit" class="btn btn-danger sharp" ng-click="getRankedKeywords()">Get json!</button> 
          </div>
          
      </div> 
    </form>
  </div>
    <form name="hackFrom">
      <div>
          <div>                
              <input type="text" name="name_from1" ng-model="jobUrl" placeholder="Your Job URL" required>
          </div>

          <div>       
              <button type="submit" ng-click="getRankedKeywords()">Get json!</button> 
          </div>
          
      </div> 
    </form>

    <div ng-show="showRankedKeywords">
      <div ng-repeat="keyword in rankedKeywords.data.keywords | limitTo:10">
        {{keyword.text}} : {{keyword.relevance}} 
      </div> 
    </div>  
  </div>
