<h1>this is landing.html stuff</h1>
<!--pre>{{dataLocker | json}}</pre-->

  <div class="row text-center">
    <form name="hackFrom">
          <div class="col-lg-6">
              <input id="hackForm" type="text" name="name_from1" ng-model="jobUrl" placeholder="Your Job URL" required>
          </div>

          <div class="col-lg-6">
              <button type="submit" class="btn btn-danger sharp" ng-click="getRankedKeywords()">Get json!</button>
          </div>
    </form>
  </div>

    <div ng-show="showRankedKeywords">
      <div ng-repeat="keyword in rankedKeywords.data.keywords | limitTo:10">
        {{keyword.text}} : {{keyword.relevance}}
      </div>
    </div>
  </div>




  <div class="container">
    <section>
    <h1>Sortable items</h1>
    <div ng-controller="sortableController" class="section row">
      <div class="col-sm-offset-2 col-sm-4">
        <ul ui-sortable="sortableOptions" ng-model="list" class="list">
          <li ng-repeat="keyword in rankedKeywords.data.keywords" class="item">{{keyword.text}}</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list logList">
          <li ng-repeat="entry in sortingLog" class="logItem">{{entry.Text}}</li>
        </ul>
      </div>
    </div>
  </section>
  </div>
